.search-data{
    width: 100%;
    height: 60vh;
    border: 1px solid yellow;
}

ul {
    width: 40%;
    margin: 2rem 2rem;
    list-style: none
  }

li{
    margin: 0.5rem;
    font-family: starWarsFont;
    font-size: 1.3rem;
    font-weight: bold;
}